<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="message1Service" class="com.shankrish.Hello11Service" />
    <bean id="message1Printer" class="com.shankrish.MessagePrinter">
        <property name="service" ref="message1Service"/>
    </bean>

    <bean id="message2Service" class="com.shankrish.Hello22Service" />
    <bean id="message2Printer" class="com.shankrish.MessagePrinter">
        <property name="service" ref="message2Service"/>
    </bean>

</beans>
